## Config file for the tail_n_mail program
## This file is automatically updated
EMAIL: someone@example.com
MAILSUBJECT: Acme HOST Postgres errors UNIQUE : NUMBER

INCLUDE: ERROR  
INCLUDE: FATAL  
INCLUDE: PANIC

#FILE: /var/log/pg_log/postgres-%Y-%m-%d.log
FILE: /var/log/postgresql/postgresql-9.3-main.log

